@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap");

@font-face {
  font-family: "Bebas Neue";
  src: url("./fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.section {
  margin: 150px 0;
}

.section-title {
  font-family: "Bebas Neue";
  font-size: 60px;
  line-height: 120%;
  letter-spacing: 0.1px;
  color: #292d33;
  margin: 24px 0 50px;
}

.button {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: white;
  background: #3a71d1;
  padding: 25px 50px;
  border: none;
  cursor: pointer;
}

.seporaiter {
  background: #5c8ee6;
  width: 150px;
  height: 2px;
  z-index: 10;
}

/* header */
.header-logo {
  display: flex;
  align-items: center;
  padding: 0 50px;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}

.logo-svg {
  width: 140px;
  height: 44px;
}

.header-nav {
  display: flex;
  flex-basis: 100%;
  list-style: none;
  padding: 0 50px;
  margin: 0;
}

.header-nav-link {
  text-decoration: none;
  font-size: 16px;
  margin-right: 50px;
  color: inherit;
}

.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 50px;
}

.header-phone-link {
  text-decoration: none;
  font-size: 16px;
  color: inherit;
}

.phone-icon {
  width: 24px;
  height: 24px;
}

.header-button {
  height: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  font-family: "Noto Sans", sans-serif;
  color: #ffffff;
  height: 94px;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 20;
  transition: background-color 0.2s;
}

.navbar:after {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 1px;
  background-color: rgba(235, 235, 240, 0.2);
  transition: opacity 0.2s height 0.2s;
}

.navbar-light {
  height: 74px;
  background-color: #fff;
  color: #292d33;
  border-bottom: none;
}

.navbar-light .header-logo-path {
  fill: #292d33;
}

.navbar-light:after {
  opacity: 0;
}

.navbar-button {
  flex-shrink: 0;
  height: 100%;
}

/* main */
.main {
  min-height: 100vh;
  padding-top: 94px;
}

.main-image {
  background-image: url(../img/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.main-image::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(41, 45, 51, 0.6);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.main-content {
  padding-top: 150px;
  position: relative;
  z-index: 10;
  color: white;
}

.main-title {
  max-width: 1080px;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 120%;
  margin: 22px 0 39px;;
  word-spacing: -1.6px;
  letter-spacing: 0.8px;
}

.main-text {
  max-width: 720px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 50px;
}

.main-button {
  padding: 25px 60px
}

.main-features {
  display: flex;
  min-height: 168px;
  padding: 0;
  margin-top: 100px;
  list-style: none;
  position: relative;
  z-index: 10;
  color: white;
}

.main-features-item {
  width: 288px;
  padding: 30px 50px;
  border: 1px solid rgba(235, 235, 240, 0.2);
}
.main-features-icon {
  width: 36px;
  height: 36px;
}
.main-features-item:not(:last-child) {
  border-right: none;
}
.main-features-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 0;
  margin-top: 17px;
}

/* steps */
.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 30px;
}

.steps-item {
  max-width: 330px;
}

.steps-num {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  color: #5c8ee6;
  display: flex;
  align-items: center;
}

.steps-num::after {
  content: "";
  height: 1px;
  width: 100%;
  background: #ebebf0;
  margin-left: 30px;
}

.steps-title {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 160%;
  color: #292d33;
  margin: 35px 0 12px;
}

.steps-text {
  font-size: 16px;
  line-height: 160%;
  color: #828a99;
  margin: 10px 0 20px;
}

.steps-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #5c8ee6;
}

.steps-link::before {
  content: "";
  height: 1px;
  background: #5c8ee6;
  width: 40px;
  margin-right: 20px;
}
