@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap");

@font-face {
  font-family: "Bebas Neue";
  src: url("./fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.container {
  max-width: 90rem;
  margin: auto;
}

.section {
  margin: 9.375rem 0;
}

.section-title {
  font-family: "Bebas Neue";
  font-size: 3.75rem;
  line-height: 120%;
  letter-spacing: 0.1px;
  color: #292d33;
  margin: 1.5rem 0 3.125rem;
}

.button {
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: white;
  background: #3a71d1;
  padding: 1.5625rem 3.125rem;
  border: none;
  cursor: pointer;
}

.seporaiter {
  background: #5c8ee6;
  width: 9.375rem;
  height: 2px;
  z-index: 10;
}

/* header */
.header-logo {
  display: flex;
  align-items: center;
  padding: 0 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}

.logo-svg {
  width: 8.75rem;
  height: 2.75rem;
}

.header-nav {
  display: flex;
  flex-basis: 100%;
  list-style: none;
  padding: 0;
  padding-left: 3.125rem;
  margin: 0;
}

.header-nav-item:not(:last-child) {
  margin-right: 3.125rem;
}

.header-nav-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}

.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: .625rem;
  margin-right: 3.125rem;
}

.header-phone-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}

.phone-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.header-button {
  height: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  font-family: "Noto Sans", sans-serif;
  color: #ffffff;
  height: 5.875rem;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 20;
  transition: background-color 0.2s;
}

.navbar:after {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: .0625rem;
  background-color: rgba(235, 235, 240, 0.2);
  transition: opacity 0.2s height 0.2s;
}

.navbar-light {
  height: 4.625rem;
  background-color: #fff;
  color: #292d33;
  border-bottom: none;
}

.navbar-light .header-logo-path {
  fill: #292d33;
}

.navbar-light:after {
  opacity: 0;
}

.navbar-button {
  flex-shrink: 0;
  height: 100%;
}

/* main */
.main {
  min-height: 100vh;
  padding-top: 5.875rem;
}

.main-image {
  background-image: url(../img/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.main-image::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(41, 45, 51, 0.6);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.main-content {
  padding-top: 9.375rem;
  position: relative;
  z-index: 10;
  color: white;
}

.main-title {
  max-width: 67.5rem;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 5rem;
  line-height: 120%;
  margin: 1.375rem 0 2.4375rem;;
  word-spacing: -1.6px;
  letter-spacing: 0.8px;
}

.main-text {
  max-width: 45rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 3.125rem;
}

.main-button {
  padding: 1.5625rem 3.75rem;
}

.main-features {
  display: flex;
  min-height: 10.5rem;
  padding: 0;
  margin-top: 6.25rem;
  list-style: none;
  position: relative;
  z-index: 10;
  color: white;
}

.main-features-item {
  width: 18rem;
  padding: 1.875rem 3.125rem;
  border: 1px solid rgba(235, 235, 240, 0.2);
}
.main-features-icon {
  width: 2.25rem;
  height: 2.25rem;
}
.main-features-item:not(:last-child) {
  border-right: none;
}
.main-features-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 0;
  margin-top: 1.0625rem;
}

/* steps */
.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1.875rem;
}

.steps-item {
  max-width: 20.625rem;
}

.steps-num {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 120%;
  color: #5c8ee6;
  display: flex;
  align-items: center;
}

.steps-num::after {
  content: "";
  height: 1px;
  width: 100%;
  background: #ebebf0;
  margin-left: 1.875rem;
}

.steps-title {
  font-style: normal;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
  margin: 2.1875rem 0 .75rem;
}

.steps-text {
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin: .625rem 0 1.25rem;
}

.steps-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #5c8ee6;
}

.steps-link::before {
  content: "";
  height: 1px;
  background: #5c8ee6;
  width: 2.5rem;
  margin-right: 1.25rem;
}

@media (min-width: 1200px) and (max-width: 1919px) {
  html {
    font-size: 14px;
  }
}
